# API KEYS
LANGSMITH_API_KEY=tu_api_key
OPENAI_API_KEY=tu_api_key

# Para debug y trace con langgraph dev(langsmith) cambiar a localhost
# abrir navegado en http://127.0.0.1:8123
ELASTICSEARCH_URL=http://localhost:9200
MCP_SERVER_URL=http://localhost:8000

# Para interfaz streamlit
#ELASTICSEARCH_URL=http://elasticsearch:9200
#MCP_SERVER_URL=http://mcp_server:8000

