# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables (CRÍTICO)
.env

# Poetry
poetry.lock

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Docker
*.pid

# Temporary files
*.tmp
*.swp